button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: mv;
  src: url(mv.otf);
}

@font-face {
  font-family: br;
  src: url(br.otf);
}

@font-face {
  font-family: RobotoRegular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBlack;
  src: url(Roboto-Black.ttf);
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}
html, body {
  height: 100%;
}

body {
  /* width: 1024px;
  height: 768px; */
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'RobotoRegular', sans-serif;
  position: relative;
  background: url(bg.jpg) right center no-repeat #f4e8bd;
  background-size: cover;
  overflow: hidden;
  transition: background 1.5s ease-out;
}

body.-movebg {
  background-position-x: 50%;
}

body.-movebg.STATE02 {
  background-position-x: 25%;
}

button {
  cursor: pointer;
}

#MainStage {
  margin: 0 auto;
  width: auto;
  text-align: center;
  padding: 2vh 2vw;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar-btns {
  width: 12px;
  height: 12px;
  background-color: #e7d7a4;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  margin:0.5em 0.25em 0 0;
  display: inline-block;
}

#BtnClose {
  background-color: #b22f00;
}

#BtnMax{
  background-color: #328a8d;
}

#BtnMin {
  background-color: #ecb21c;
}

#Logo {
  background: url('jfcm30.svg') center center no-repeat;
  background-size: contain;
  width: 500px;
  height: 360px;
  position: absolute;
  margin: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: top left;
  z-index: 1;
}

.STATE0 #Logo {

}

.container {
  box-sizing: border-box;
  overflow: hidden;
}

.prop-mfg {
  background:url('prop-mfg.png') center center no-repeat;
  background-size: contain;
  width: 393px;
  height: 505px;
  position: absolute;
  bottom: -205px;
  left: -193px;
  transition: bottom 1s ease-out, left 1s ease-out, opacity 0.5s ease-out;
  /* transition-delay: 0.4s; */
  opacity: 0;
}

.-showprops .prop-mfg {
  opacity: 1;
  bottom: -48px;
  left: -16px;
  z-index: -4;
}

.STATE02 .prop-mfg {
  bottom: -68px;
  left: -46px;
}

.preload {
  visibility: hidden;
  width:1px;
  height:1px;
  overflow: hidden;
  position: absolute;
  top:-100px;
  left:-100px;
  z-index: -5;
}

.prop-hands {
  background:url('prop-hands.png') center center no-repeat;
  background-size: contain;
  width: 511px;
  height: 456px;
  position: absolute;
  top: -256px;
  right: -211px;
  opacity: 0;
  transition: top 0.8s ease-out, right 0.8s ease-out, opacity 0.5s ease-out;
  /* transition-delay: 0.8s; */
}

.-showprops .prop-hands {
  opacity: 1;
  top: -127px;
  right: -108px;
  z-index: -4;
}

.STATE02 .prop-hands {
  top: -147px;
  right: -168px;
}

#STATE01 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

.STATE01 #STATE01 {
  visibility: visible;
  z-index: 0;
}

#BtnPick {
  font-size: 6em;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transform: translateX(50px);
  transition: transform 1s ease-out, opacity 0.5s ease-out;
  transition-delay: 0;
}

.STATE01 #BtnPick {
  opacity: 1;
  transform: translateX(0);
}

#OutreachContainer {
  width: 820px;
  height: 221px;
  margin: 2.5em auto 0;
  font-family: 'RobotoBlack',sans-serif;
  font-size: 3.8em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: relative;
  padding: 0 0.4em;
  overflow: visible;
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.STATE02 #OutreachContainer {
  visibility: visible;
}

.-showWin1 #OutreachContainer {
  color: #fff;
  transform: scale(1.3) rotate(-6deg);
}

.-showWin1 #OutreachContainer::before {
  background: url('bg-box-outreach2.svg') center center no-repeat;
}

#OutreachContainer::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  background: url('bg-box-outreach.svg') center center no-repeat;
  background-size: 820px auto;
  z-index: -1;
  width: 820px;
  transition: transform 0.125s;
  transform: scaleX(0);
  transition-delay: 0s;
}

.STATE02 #OutreachContainer::before {
  transform: scaleX(1);
}

#OutreachContainer::after {
  content:'';
  position: absolute;
  top: -137px;
  bottom: 0;
  left:0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  background: url('bg-bird1.svg') center center no-repeat;
  background-size: contain;
  z-index: -2;
  width: 860px;
  height: 490px;
  transition: transform 0.6s ease-in-out;
  transform: scale(0);
}

.-showWin1 #OutreachContainer::after {
  transform: scale(1);
}

#PrizeContainer {
  width: 646px;
  height: 171px;
  margin: 1em auto 0;
  padding-top: 0.8em;
  font-family: 'RobotoBlack',sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  overflow: visible;
}

.STATE02 #PrizeContainer {
  visibility: visible;
}
.-showWin2 #PrizeContainer {
  color: #fff;
  transform: scale(1.2) rotate(-6deg);
}

.-showWin2 #PrizeContainer::before {
  background: url('bg-box-prize2.svg') center center no-repeat;
}

#PrizeContainer::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  background: url('bg-box-prize.svg') center center no-repeat;
  background-size: 646px auto;
  z-index: -1;
  width: 646px;
  transition: transform 0.125s;
  transform: scaleX(0);
  transition-delay: 0.05s;
}

#PrizeContainer.odd::before {
  background: url('bg-box-prize_.svg') center center no-repeat;
}

.STATE02 #PrizeContainer::before {
  transform: scaleX(1);
}

#PrizeContainer::after {
  content:'';
  position: absolute;
  top: -137px;
  bottom: 0;
  left:0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  background: url('bg-dots.svg') center center no-repeat;
  background-size: contain;
  z-index: -2;
  width: 646px;
  height: 442px;
  transition: transform 0.6s ease-in-out;
  transform: scale(0);
}

.-showWin2 #PrizeContainer::after {
  transform: scale(2);
}


.off {
  display: none;
}

.hidden {
  visibility: hidden;
}

.btn-big {
  /* width:200px; */
  border:0;
  padding: 0 0.25em;
  font-family: 'mv', serif;
  font-size: 4em;
  border: 0;
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.btn-big::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  background: url('brushbtn.svg') right center no-repeat;
  background-size: 400px auto;
  z-index: -1;
  width: 0;
  transition: width 0.125s, opacity 0.125s;
}

.btn-big:hover::before {
  width: 400px;
}

.btn-med {
  width:200px;
  border:0;
  padding: 0 0.25em;
  font-family: 'mv', serif;
  font-size: 4em;
  border: 0;
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.btn-med::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  background: url('brushbtn.svg') right center no-repeat;
  background-size: 200px auto;
  z-index: -1;
  width: 0;
  transition: width 0.125s, opacity 0.125s;
}

.btn-med:hover::before {
  width: 200px;
}

.btnNext {
  margin: 0.75em auto 0;
  text-align: center;
  cursor: pointer;
}

#MainFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.6em;
  text-transform: uppercase;
  font-family: 'RobotoRegular', sans-serif;
  color: #6d6751;
}

#TitleBar {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}


#Counters {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#Counters .counter {
  font-family: 'br', 'serif';
  font-size: 12em;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  transition: opacity 1s;
}

#Counters .counter.fade {
  visibility: visible;
  opacity: 0;
}

.btnReset {
  background-color: #444;
}
